.my-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    padding: 2em; 
}

.profil-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding: 3em;
    color: #F4B953;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1em; 
}

.profil-information .media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    width: 15em;
    overflow: hidden;
}

.profil-information .media img {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
}

label {
    cursor: pointer;
    background-color: black;
    color: #F4B953;
    border-radius: 0.5em;
    border: 1px solid #F4B953;
    padding: 0.3em 0.5em;
}

.card.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    background-color: none;
    padding: 0.5em;
    position: relative;
    border: 1px solid #F4B953; 
    border-radius: 0.5em; 
}

.card.card-body input[type="submit"] {
    background-color: black;
    color: #F4B953;
    border-radius: 0.5em;
    border: 1px solid #F4B953;
    padding: 0.3em 0.5em;
    cursor: pointer;
}

.card.card-body input {
    min-height: 2em;
    width: 100%; 
}

.recent-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em; 
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1em; 
}

.recent-posts .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #F4B953;
    padding: 1em; 
    border-bottom: 1px solid #F4B953; 
}

.recent-posts .info h3 {
    margin: 0;
}

.recent-posts .info a {
    text-decoration: none;
    color: #F4B953;
    font-size: 1.2em;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 2em;
    padding: 2em; 
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25em;
    background-color: #F9C356;
    border-radius: 0.5em; 
    overflow: hidden; 
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1); 
}

.card .media img {
    max-width: 100%;
    height: auto;
}

.card .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.card .card-info a {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 0.5em;
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 0.5em;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.card .card-info a:hover {
    color: black;
    background-color: antiquewhite;
}

.error {
    position: absolute;
    top: 2em;
    left: 1em;
    color: red;
    width: 15em;
    padding: 0.5em; 
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 0.5em; 
}

