<div class="home-page">
    <div class="welcome">
        <h1>Welcome to Movies world!</h1>
        <h3>Add your favorite movies and comment.</h3>
    </div>
    <div class="recent-posts">
        <div class="info">
            <h3>Recent movies</h3>
            <a routerLink="/dashboard">Browse more movies...</a>
        </div>
        <!-- Placeholder for 'No movies' component -->
        <div class="no-movies"></div>
        
        <!-- Placeholder for 'Loading spinner' component -->
        <div class="loading-spinner"></div>
        
        <ul class="card-list">
            <li class="card">
                <div class="media">
                    <img src="star wars image" alt="star wars image">
                </div>
                <div class="card-info">
                    <h3>Movie Title</h3>
                    <h5>Director Name <span>Year</span></h5>
                    <p>Genre</p>
                    <a href="#">Details</a>
                </div>
            </li>
            <!-- Additional list items for each movie -->
        </ul>
    </div>
</div>
