<div class="login">
    <form>
        <div class="header">
            <h3>Login</h3>
           
        </div>
        <div class="fields">
            <div class="field">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Username" required>
                <div class="error">
                    <div>Username is required!</div>
                </div>
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <div class="error">
                    <div>Password is required!</div>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Login">
            </div>
        </div>
    </form>
</div>
