
<div class="movie-details">
    <app-modal title="{{movie?.title}}"/>

    <h3>Details</h3>
    <div class="details">
        <div class="media">
            <img src="{{movie?.imageUrl}}" alt="{{movie?.title}}">

        </div>
        <div class="info">
            <h4>{{movie?.title}}</h4>
            <h5>{{movie?.director}} <span>{{movie?.year}}</span></h5>
            <p>{{movie?.genre}}</p>
            <p>{{movie?.plot}}</p>
            <div class="buttons">
            </div>
        </div>
    </div>

    <div class="comments">
        <app-comment></app-comment>
        <h4>Comments</h4>
        <h4>There are no added comments yet.</h4>
        <div class="comment-list">
            <ul>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Iva</h5>
                        <p>Posted on: 26.03.2024 17:00</p>
                    </div>
                    <p>I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Iva</h5>
                        <p>Posted on: 26.03.2024 17:40</p>
                    </div>
                    <p>It is a very nice movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Iva</h5>
                        <p>Posted on: 26.03.2024 17:30</p>
                    </div>
                    <p>It is a nice movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Iva</h5>
                        <p>Posted on: 26.03.2024 17:35</p>
                    </div>
                    <p>I love this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Iva</h5>
                        <p>Posted on: 26.03.2024 17:50</p>
                    </div>
                    <p>I love this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Iva</h5>
                        <p>Posted on: 26.03.2024 17:45</p>
                    </div>
                    <p>I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Iva</h5>
                        <p>Posted on: 26.03.2024 17:55</p>
                    </div>
                    <p>I like this movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Iva</h5>
                        <p>Posted on:26.03.2024 17:25</p>
                    </div>
                    <p>This is a good movie</p>
                </li>
                <li class="comment">
                    <div class="comment-author">
                        <h5>From: Iva</h5>
                        <p>Posted on: 26.03.2024 17:15</p>
                    </div>
                    <p>I like this movie</p>
                </li>
            </ul>
        </div>
    </div>
</div>