<app-modal></app-modal>
<div class="movie-details">
    <h3>Details</h3>
    <div class="details">
        <div class="media">
            <img src="" alt="">
        </div>
        <div class="info">
            <h4></h4>
            <h5><span></span></h5>
            <p></p>
            <p></p>
            <div class="buttons">
                <button>Edit</button>
                <button>Delete</button>
            </div>
        </div>
    </div>

    <div class="comments">
        <app-comment></app-comment>
        <h4>Comments</h4>
        <h4>There are no added comments yet.</h4>
        <div class="comment-list">
            <ul>
                <li class="comment">
                    <div class="comment-author">
                        <div class="media-author-info">
                            <div class="media">
                                <img src="" alt="Profile picture">
                            </div>
                            <h5></h5>
                        </div>
                        <p>Posted on: </p>
                    </div>
                    <p></p>
                </li>
            </ul>
        </div>
    </div>
</div>
