form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    padding-top: 2em;
    position: relative;
}

form label {
    font-size: 2em;
    padding: 1em 0;
}

form textarea {
    resize: none;
    width: 30em;
    height: 10em;
    border: 5px solid #F4B953;
    font-size: 1.5em;
    padding: 0.5em;
}

form input[type="text"],
form input[type="submit"] {
    font-size: 1.5em;
    background-color: black;
    color: #F4B953;
    border: 1px solid #F4B953;
    padding: 0.5em 2em;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s;
}

form input[type="submit"]:hover {
    color: white;
    border-color: white;
}

.error {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: 1.2em;
}
