<div class="nav">
    <div class="logo">
        <a routerLink="/">Movies <span>world 2025</span></a>
    </div>
    
    <!-- ✅ Бургер меню -->
    <div class="burger-menu" (click)="toggleMenu()">☰</div>

    <nav>
        <ul class="nav-btns" [class.active]="isMenuOpen">
            <li><a routerLink="/home" (click)="toggleMenu()">Home</a></li>
            <li><a routerLink="/dashboard" (click)="toggleMenu()">Movies</a></li>
            <li *ngIf="isLoggedIn"><a routerLink="/movie-create" (click)="toggleMenu()">Add Movie</a></li>
            <li *ngIf="!isLoggedIn"><a routerLink="/login" (click)="toggleMenu()">Login</a></li>
            <li *ngIf="!isLoggedIn"><a routerLink="/register" (click)="toggleMenu()">Register</a></li>
            <li *ngIf="isLoggedIn"><a routerLink="/home" (click)="logoutHandler()">Logout</a></li>
            <li *ngIf="isLoggedIn"><a routerLink="/my-profile" (click)="toggleMenu()">My Profile</a></li>
        </ul>
    </nav>
</div>
