<div class="nav">
    <div class="logo">
        <a href="">Movies <span>World</span></a>
    </div>
    <nav>
        <ul class="nav-btns">
            <li><a href="/home">Home</a></li>
            <li><a href="/dashboard">Movies</a></li>
            <li><a href="/movie-create">Add Movie</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/my-profile">My Profile</a></li>
            <li><a href="#" onclick="logoutHandler()">Logout</a></li>
        </ul>
    </nav>
</div>
