.site{
    display: flex;
    flex-wrap: wrap;
    background-image: url("../assets/cinema-strip-2713352_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow:auto;
}
.site .main{
    width: 100%;
    min-height: 100vh;
}
.site header, .site footer{
    flex-basis: 100%;
}
